{% extends 'base.html' %}


{% block title %} IP LookUp {% endblock %}



{% block body %}

<div class="container">
  <br>
  <br>
  <br>
<form action="{{url_for('Index')}}" method="post">

<!-- Input TextField -->
    <center>
    <div class="form-group">
      <input type="text" name = "search" placeholder="Enter IP Address">
    </div>

    <input type="submit"  value="Search">
    
</form>
<!-- Display the Information -->
    <br>
    <br>
    <h4>Your Current Information</h4>
    <br>
    <p>IP Address  : {{data.ip}}</p>
    <p>IP Location : {{data.city}}</p>
    <p>IP Country  : {{data.country}}</p>
    <p>Internet Service Provider : {{data.org}}</p>
    <p>Latitude Information : {{data.latitude}}</p>
    <p>Longitude Information : {{data.longitude}}</p>
  </center>
  
</div>
<!-- To set Background -->
<style type="text/css">
  
  body{
    background-image: url(https://wallpaperbat.com/img/478658-att-globe-logo.jpg);
  }
</style>



{% endblock %}